<% content_for :breadcrumbs do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= credentials_path %>">Credentials</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add credential</li>
    </ol>
  </nav>
<% end %>

<h1>Add credential</h1>

<%= bootstrap_form_for(@credential) do |f| %>
  <%= f.text_field :name %>

  <p>Create a new IAM role for NekoDNS to use with a <a href="/documents/nekodns-iam-policy.json">suitable policy</a>
    attached. Specify "Another AWS account" as the
    trusted entity type and provide the following account ID and external ID
    (<a href="/images/create-iam-role-for-third-party.png">screenshot</a>):</p>

  <%= f.text_field :account_id, label: 'Account ID', value: Rails.configuration.aws_account_id, name: nil, readonly: true %>
  <%= f.text_field :external_id, label: 'External ID', value: @credential.external_id, readonly: true %>
  <%= f.hidden_field :signed_external_id, value: @credential.signed_external_id %>

  <%= f.text_field :arn, label: 'Role ARN', placeholder: 'arn:aws:iam::123456789012:role/RoleName' %>

  <%= f.primary 'Add credential' %>
<% end %>