<% content_for :breadcrumbs do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= credentials_path %>">Credentials</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @credential.name %></li>
    </ol>
  </nav>
<% end %>

<h1><%= @credential.name %></h1>

<div>
  <dl class="row">
    <dt class="col-sm-3">Role ARN</dt>
    <dd class="col-sm-9"><%= @credential.arn %></dd>
    <dt class="col-sm-3">External ID</dt>
    <dd class="col-sm-9"><%= @credential.external_id %></dd>
    <dt class="col-sm-3">Account ID</dt>
    <dd class="col-sm-9"><%= Rails.configuration.aws_account_id %></dd>
  </dl>
</div>