<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>NekoDNS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
      <a href="<%= root_path %>" class="navbar-brand">NekoDNS</a>

      <ul class="navbar-nav mr-auto"></ul>

      <% if session[:user_id].nil? %>
        <a href="<%= login_path %>" class="btn btn-outline-dark">Login</a>
      <% else %>
        <%= render 'logged_in_indicator' %>
      <% end %>
    </div>
  </nav>
  <main class="container my-3">
    <%= render 'flash_messages' %>
    <%= yield %>
  </main>
  </body>
</html>
